@import 'public/js/node_modules/bulma/bulma/utilities/utilities';
@import 'public/js/node_modules/bulma/bulma/config/variables';
@import 'public/js/node_modules/bulma/bulma/config/generated-variables';
@import 'public/js/node_modules/bulma/bulma/base/base';
@import 'public/js/node_modules/bulma/bulma/elements/elements';
@import 'public/js/node_modules/bulma/bulma/components/components';
@import 'public/js/node_modules/bulma/bulma/layout/layout';

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

canvas {
    font-size: 14px;
}

.tag-select {
    display: inline;
    margin-right: 2em;

    .token {
        // Pass pointer-events through to the select
        pointer-events: none;
        font-size: 4em;
    }

    select {
        background: transparent;
        margin-top: -38px;
        padding-top: 53px;
        padding-right: 0px;
        padding-bottom: 5px;
        height: 76px;
        font-size: 14px;
        -webkit-appearance: None;
        -moz-appearance: none;
        appearance: none;
        border: 0px;
    }
}

.modal-box {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2 px 3px rgba(0,0,0,0.1), 0 0 0  1px rgba(0,0,0,0.1);
    padding: 40px;
}
