@import 'public/js/node_modules/bulma/bulma/utilities/utilities';
@import 'public/js/node_modules/bulma/bulma/config/variables';
$family-serif: "Libre Caslon Display", serif;

@import 'public/js/node_modules/bulma/bulma/config/generated-variables';
@import 'public/js/node_modules/bulma/bulma/base/base';
@import 'public/js/node_modules/bulma/bulma/elements/elements';
@import 'public/js/node_modules/bulma/bulma/components/components';
@import 'public/js/node_modules/bulma/bulma/layout/layout';
@import 'public/js/node_modules/spinners/stylesheets/_spinners';


@font-face {
    font-family: "Libre Caslon Display Regular";
    src: url("/fonts/LibreCaslonDisplay-Regular.ttf");
}

html, body {
  height: 100%;
}

canvas {
  font-size: 14px;
}

.footer {
    background: white;
    padding: 0;
    height: 10vh;

    .container {
        box-shadow: none;
    }

    .icon {
        color: $grey;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
}

.loading-spinner {
  @include spinner(3em, 2s);
  margin-bottom: 1.5em;
}

.tagging-sentence {
    margin-bottom: 4em;
}

.tagging-hint {
    margin-bottom: 3em;
    color: $grey;
}

.tagging-stats {
    margin-bottom: 3em;
    color: $grey-light;
}

.tagging-toolbar {
    .button {
        margin-left: 0.25rem;
    }
    .button.next-btn {
        width: 128px
    }
}

.linking-widget {
    position: relative;
    text-align: left;

    .linking-suggestions {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1000;

        .card {
            cursor: pointer;
            &:hover {
                background-color: $grey-light;
            }
        }

    }
}


.tag-select {
  display: inline-block;

  .token {
    // Pass pointer-events through to the select
    pointer-events: none;
    font-size: 2em;
    font-family: $family-serif;
  }

  select {
    //background: lightgray;
    background: transparent;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 46px;
    margin-bottom: 10px;
    height: 64px;
    font-size: 14px;
    -webkit-appearance: None;
    -moz-appearance: none;
    appearance: none;
    border: 0px;
  }
}

.hero.is-fullheight.tagging-container {
    min-height: 90vh;
}

.modal-box {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2 px 3px rgba(0,0,0,0.1), 0 0 0  1px rgba(0,0,0,0.1);
  padding: 40px;
}
